nav
    div.header
        div.home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
            a.pure-menu-heading.pure-menu-link(href="/") NVDanced
            ul.pure-menu-list(style="float: right")
                li.pure-menu-item
                    a.pure-menu-link(href="/login") Login
                li.pure-menu-item
                    a.pure-menu-link(href="/me") Me