ul.menu
    li
        a(href="/index") Home
    li
        a(href="/song1") Song 1
    li
        a(href="/login") Login
    li
        a(href="/me") Me
    li
        a(href="/other?user_id=1230170770") Other