html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1, minimum-scale=1')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='description' content='')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='../styles/css/site.css')
        title N V Danced
    body
        div#app
            nav.navbar.is-primary
                .navbar-brand
                    router-link.navbar-item(:to='{name:"home"}') N V Danced
                .navbar-menu
                    .navbar-start
                        input.input
                    .navbar-end
                        a.navbar-item(href="/login", v-if="!auth") Log In
                        a.navbar-item(v-if="auth != null", v-on:click="logOut") Log Out
                        router-link.navbar-item(:to='{name:"user"}', v-if="auth != null") Me
            router-view
        script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
        script(src='https://unpkg.com/http-vue-loader')
        script(src='https://unpkg.com/vue/dist/vue.js')
        script(src='https://unpkg.com/vue-router/dist/vue-router.js')
        script(src="https://unpkg.com/vue-cookies@1.7.4/vue-cookies.js")
        script(src='../scripts/index.js')
