html
head
    title NVDanced
    include ./includes/head.jade
body
    include ./includes/nav.jade

    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js")
    script(src="../app.js")