html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1, minimum-scale=1')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='description' content='Uses the Spotify API and its data to show danceability metrics among others')
        link(rel='stylesheet' href='../styles/css/site.css')
        title N V Danced
    body.has-background-secondary.has-text-white
        div#app
            nav.navbar.is-primary.is-flex.px-2#nvd-navbar
                .navbar-brand.is-flex-grow-1
                    router-link.px-2.navbar-item(:to='{name:auth ? "user" : "home"}') N V Danced
                    div.is-align-self-center.is-flex.is-flex-grow-1.px-2
                        div.dropdown(:class="{'is-active': suggestedArtists.length || suggestedPlaylists.length || suggestedAlbums.length}")
                            div.dropdown-menu#dropdown-menu(role="menu")
                                div.dropdown-content
                                    //div.dropdown-item
                                    //    p Artists
                                    //div.dropdown-item(v-for="artist in suggestedArtists")
                                        //a.dropdown-item(href="") {{artist.name}}
                                        //hr.dropdown-divider
                                    div.dropdown-item
                                        p Albums
                                    div.dropdown-item(v-for="album in suggestedAlbums")
                                        router-link.dropdown-item(:to="{path: '/album?album_id=' + album.id}") {{album.name}}
                                    div.dropdown-item
                                        hr.dropdown-divider
                                    div.dropdown-item
                                        p Playlists
                                    div.dropdown-item(v-for="playlist in suggestedPlaylists")
                                        router-link.dropdown-item(:to="{path: '/playlist?user_id=' + playlist.owner.id + '&playlist_id=' + playlist.id}") {{playlist.name}}
                        input#nvd-search.is-flex-grow-1.input(v-model="query", v-on:input="search()", placeholder="search")
                    div.is-flex.is-flex-grow-0.is-justify-content-flex-end.px-2
                        a.has-text-white.navbar-item(href="/login", v-show="!auth")
                            span.icon
                                i.fab.fa-spotify.has-white-text
                        a.has-text-white.navbar-item(v-show="auth", v-on:click="logOut") Log Out
            router-view
            div#nvd-playback-padding
            div#nvd-playback.is-flex.is-justify-content-center.p-4(v-if="auth")
                div#nvd-playback-card.card.p-2.px-4.is-flex.is-flex-grow-1
                    span.nvd-text.is-align-self-center.mx-2.has-text-white.is-flex-grow-1(v-if="playingName") {{ playingName }}
                    button#toggle-play.button.mx-2.nvd-playback-button.p-1.is-align-self-center(v-on:click="togglePlay")
                        span.icon.nvd-playback-button-text
                            i.fa(:class="isPlaying ? 'fa-pause' : 'fa-play'")
                    button#next.button.nvd-playback-button.p-1.mx-2.is-align-self-center(v-on:click="playNext")
                        span.icon.nvd-playback-button-text
                            i.fa.fa-step-forward
                    span.nvd-text.is-align-self-center.mx-2.p-1.has-text-white(v-if="currDeviceName") {{ currDeviceName }}
                    button#use-this-device.button.nvd-playback-button.p-1.mx-2.is-align-self-center(v-on:click="useThisDevice")
                        span.icon.nvd-playback-button-text
                            i.fa(:class="currDeviceType === 'Smartphone' ? 'fa-mobile-alt' : 'fa-laptop'")
        script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
        script(src='https://unpkg.com/http-vue-loader')
        script(src='https://unpkg.com/vue/dist/vue.js')
        script(src='https://unpkg.com/vue-router/dist/vue-router.js')
        script(src="https://unpkg.com/vue-cookies@1.7.4/vue-cookies.js")
        script(src='../scripts/index.js')
        script(src="https://sdk.scdn.co/spotify-player.js")
