$primary: #108e5c

$custom-colors : ("secondary":(#161616, #fff))

@import "bulma/bulma.sass"
@import "font-awesome/scss/fontawesome.scss"
@import "font-awesome/scss/solid.scss"
@import "font-awesome/scss/brands.scss"

#nvd-navbar
  background-image : linear-gradient(to right, $primary, #1AB879)
  position : sticky
  top : 0

  #nvd-search
    width : 1em

#nvd-img-header
  width : 100%
  height : 300px
  background-repeat : no-repeat
  background-position : center
  background-size : auto 200%

#nvd-page-body
  box-shadow : 0 -35px 50px -15px black
  width : 100%
  max-width : 100%

#nvd-playback-padding
  display : block
  width : 100%
  height : 5em

#nvd-playback
  position : fixed
  bottom : 0
  width : 100%
  background : #01010150
  box-shadow : 0 0 30px 20px #01010150
  pointer-events : none

  .nvd-playback-button
    background : transparent
    border : transparent

    .nvd-playback-button-text
      background : linear-gradient(to right, $primary, #1AB879)
      -webkit-background-clip : text
      -webkit-text-fill-color : transparent

  .nvd-text
    overflow : hidden
    text-overflow : ellipsis
    white-space : nowrap

  #nvd-playback-image
    margin-top : -0.5em
    margin-bottom : -0.5em
    margin-left : -1em

  #nvd-playback-card
    overflow : hidden
    background : linear-gradient(90deg, #16161633, #108e5c33, #1AB87933);
    backdrop-filter : blur(10px)
    pointer-events : all