$primary: #008F3D

$custom-colors : ("secondary":(#161616, #fff))

@import "bulma/bulma.sass"
@import "font-awesome/scss/fontawesome.scss"
@import "font-awesome/scss/solid.scss"

#nvd-navbar
  background-image: linear-gradient(to right, #007523, $primary)