@import "vars";

a {
  text-decoration: none;
  color: white;

  &:hover {
    color: $primary-color;
  }
}

body {
  background-color: $secondary-color;
  color : white;
}

main {
  padding : $std-padding;
}