@import "vars";

a {
  text-decoration: none;
  color: white;

  &:hover {
    color: $primary-color;
  }
}

body {
  background-color: $secondary-color;
  color : white;
}

main {
  padding : calc(#{$std-padding} + 63.75px) $std-padding $std-padding $std-padding;
}