@import "_vars.scss";

nav {
  .header {
    .home-menu {
      padding : $std-padding;
      background-color : $primary-color;

      .pure-menu-link {
        &:hover {
          background-color : $primary-color;
        }
      }

      * {
        color: white;
      }
    }
  }
}